<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/style.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" integrity="sha512-KOWhIs2d8WrPgR4lTaFgxI35LLOp5PRki/DxQvb7mlP29YZ5iJ5v8tiLWF7JLk5nDBlgPP1gHzw96cZ77oD7zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>DNK</title>
</head>
<body>
    <div class="header container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-4 py-4" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="margin: 0;"><img class="logo" src="../public/img/logo.png" width="70%"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-container collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#">ALL TOURS</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">VISA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TOUR BY </a>
                    </li>
                </ul>
                <ul class="menu navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                      <a class="price nav-link active fw-bold" aria-current="page" href="#">$0.00</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="cart.html">
                                <span class="material-icons">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="signup.html"><i class="fa-solid fa-circle-user"></i></a>
                      </li>
                  </ul>
              </div>
            </div>
          </nav>
          <div class="header-container container-fluid">
                <div class="banner container">
                    <div class="display-4 fw-bold text-center">
                        Your dream holiday without waiting
                    </div>
                    <div class="row align-items-center mt-4" style="width: 50%; margin-left: 400px;">
                            <div class="col p-0">
                                <div class="homebank" style="padding: 15px 15px; border-radius: 15px; padding-bottom: 18px; background-color: white;">
                                    <img src="../public/img/homepng.png" style="width: 100%;">
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="twelve-container d-flex justify-content-center align-items-center" style="width: 40%; margin-left: 7px; padding: 5.5px 2px; border-radius: 15px; background-color: rgb(206, 31, 63);">
                                    <div class="twelve fs-2 fw-bold text-center">
                                        0-0-12
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="filter container" style="width: 90%;">
                    <div class="filter-row">
                        <div>
                            <div class="filter-box white">
                                <div class="dropdown">
                                    <input type="text" id="countryInput" placeholder="&#x1F5FB Country" autocomplete="off"> 
                                </div>
                            </div>
                            <div class="country-result-box">
            
                            </div>
                        </div>
                        
                        <div>
                            <div class="filter-box white">
                                <div class="dropdown">
                                    <input type="text" id="cityInput" placeholder="&#128509 City" autocomplete="off">
                                    <div class="dropdown-content">
                                    </div>
                                </div>
                            </div>
                            <div class="city-result-box">
                                
                            </div>
                        </div>

                        <div>
                            <div class="filter-box white">
                                <div class="dropdown">
                                    <input type="text" id="hotelInput" placeholder="&#127976 Hotel" autocomplete="off">
                                    <div class="dropdown-content">
                                    </div>
                                </div>
                            </div>
                            <div class="hotel-result-box">
                                
                            </div>
                        </div>

                        <div class="filter-box white">
                            <div class="dateRange"><input type="custom-datetime" id="dateRange" placeholder="&#x1F4C5 Date"></div>
                        </div>
                
                        <div class="filter-box white people">
                            <div class="persons-input">
                                <input type="number" id="adults" placeholder="&#x1F465 Adults">
                            </div>
                            <div class="persons-input">
                                <input type="number" id="children" placeholder="&#x1F9D2 Children">
                            </div>
                        </div>
                
                        <div class="filter-box blue" onclick="searchTours()">
                            Search
                        </div>
                    </div>
                </div>
          </div>    
    </div>              
    <hr class="solid liner">
    <div class="container-fluid footer" style="width: 78%;">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-6 col-xxl-4 footer-banner py-2">
                    <img src="../public/img/logoblck.png">
                    <div class="footer-title">
                        Discover your best look in every destination.
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-4 for-them py-2">
                    <div class="row">
                        <div class="col for-him">
                            <div class="them-title">
                                About Us
                                <div class="list">
                                    <ul>
                                        <li><a href="#">Company Adress</a></li>
                                        <li><a href="#">Company Contacts</a></li>
                                        <li><a href="#">Company Partners</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col for-her">
                            <div class="them-title">
                                F.A.Q.
                                <div class="list">
                                    <ul>
                                        <li><a href="#">Company Rules</a></li>
                                        <li><a href="#">Online Payment</a></li>
                                        <li><a href="#">Popular Questions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-2 form py-2">
                  <div class="mb-3">
                        <label for="emailID" class="form-label form-title" style="font-size: 20px;
                        font-weight: 600;">Email address</label>
                        <input type="email" class="form-control my-2" id="emailID" placeholder="name@example.com">
                        <button onclick="validateEmail()" type="submit" class="btn btn-primary my-1" id="emailSubmit">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="liveAlertPlaceholder" style="position: fixed; top: 6px; display: flex; justify-content: center; width: 100%;"></div>
        <hr class="solid liner">
        <div class="container-fluid cr" style="width: 82%;">
            <div class="cr-text">
                © 2023 Ansar Utenov SE-2208.
            </div>
            <div class="cr-icons d-none d-md-block">
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-facebook"></i></i></a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="customAlert" class="custom-alert">
        <span id="alertMessage" class="alert-message"></span>
        <button onclick="closeCustomAlert()" class="close-button">Close</button>
    </div>
    <div id="overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[type=custom-datetime]", {
            mode: "range",
            dateFormat: "Y-m-d",
            minDate: "today",
        });
    </script>
    <script src="../public/scripts/autocomplete.js"></script>
    <script src="../public/scripts/customalert.js"></script>
    <script src="../public/scripts/searchTours.js"></script>
</body>
</html>